*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Helvetica, sans-serif, Arial, sans-serif;
    background-color: rgb(243, 238, 238);
}

#main-title {
    font-size: 3rem;
    font-weight: bold;
    color: #454343;
}

.app-container {
    max-width: 62rem;
    margin: 0 auto;
    padding: 4rem;
    min-height: calc(100vh - 60px);
}

.add-container {
    display: flex;
    align-items: center;
    gap: 0.825rem;
    margin-bottom: 1.5rem;
    position: relative;
    width: 60%;
}

.input-field {
    width: 100%;
    padding: 20px;
    padding-right: 5%;
    font-size: 1.5rem;
    border-radius: 20px;
    border: 1px solid #cecaca;
    box-shadow: 0 4px 4px 1px #0000000f;
    color: #595757;
}

.btn {
    color: white;
    font-size: 3rem;
    cursor: pointer;
    position: absolute;
    right: 16px;
    border: none;
    background: none;
    color: #a9a1a1;
}

.btn:hover {
    color: #6e6969;
}

.quote-container {
    padding: 2rem 2.5rem;
    border-radius: 20px;
    background-color: #e6e5e3;
    margin: 50px 0;
}

blockquote {
    font-size: 2rem;
    font-weight: 100;
}

#quote-author {
    text-align: right;
    width: 100%;
    display: block;
    margin-top: 10px;
}
#quote-author::before {
    content: "- ";
}

#todo-list-container {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.todo-list-item {
    padding: 20px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 4px 4px 1px #0000000f;
    display: grid;
    grid-template-columns: auto 3fr auto;
    gap: 1rem;
    align-items: center;
    color: #595757;
}

.todo-list-item.is-checked .todo-item-label {
    text-decoration: line-through;
    color: #cecaca;
}

.todo-item-btn {
    cursor: pointer;
    border-radius: 100%;
    padding: 15px;
    background-color: #e76465;
    font-size: 0;
    border: none;
    position: relative;
}

.todo-item-btn::before,
.todo-item-btn::after {
    position: absolute;
    left: 45%;
    top: 15%;
    content: " ";
    height: 19px;
    width: 3px;
    background-color: #333;
}

.todo-item-btn::before {
    transform: rotate(45deg);
}

.todo-item-btn::after {
    transform: rotate(-45deg);
}

.todo-item-label {
    font-size: 1.5rem;
}

.todo-item-checkbox {
    position: relative;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.footer {
    height: 60px;
    display: flex;
    justify-content: center;
    color: #6e6969;
}

.footer-link {
    color: #6e6969;
    font-weight: 600;
}
